
// サイト全体で使用するカラー
$color-black: #000000;
$color-text-black: #333333;
$color-gray: #555555;
$color-bg: #FAFAFA;
$color-white: #ffffff;
$color-border: #f2f2f2;
$color-theme-blue: #3E8FDC;
$color-link: #55ACEE;
$color-line-blue: rgba(62,143,220,0.8);
$color-bg-blue: rgba(62,143,220,0.1);

// 記事のラベルのカラー一覧
$color-label-yellow: #EFB962;
$color-label-purple: #BF3A79;
$color-label-blue: #2F69D4;
$color-label-green: #44E067;

// SNS関連のカラー一覧
$color-twitter: #55ACEE;
$color-facebook: #305197;
$color-bukuma: #2F70BE;
$color-pocket: #EF4056;
$color-line: #00B900;
$color-feedly: #75C960;
$color-contact: #5D5D5D;


