@use "global/variables";

.#{lfl-o}-footer {
    .lfl-m-footer {
        background: variables.$color-white;
        padding: 2rem 0;
        text-align: center;
        &__link {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 2rem;
            position: relative;
            &__list {
                position: relative;
                border-right: 1px solid variables.$color-black;
                a {
                    display: block;
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    padding: 0 2rem;
                }
                a:hover {
                    text-decoration: underline;
                }
            }

            &__list:nth-child:last-child:after {
                border-right: none;
            }
        }
        &__small {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
    }
}