@use "global/variables";

.web {
    background: variables.$color-label-yellow;
}
.blog {
    background: variables.$color-label-purple;
}
.gadget {
    background: variables.$color-label-green;
}
.life-hack {
    background: variables.$color-label-blue;
}




