@use "../foundation/index";
@use "../global/variables";

.#{lfl-o}-header {
    .lfl-m-header-gn {
        background: variables.$color-theme-blue;
        color: variables.$color-white;
        text-align: center;
        &__wrapper {
            max-width: 1080px;
            margin: 0 auto;
        }
        &__lists {
            display: flex;
            li {
                border-left: 1px solid variables.$color-white;
                // width: 167px;
                a {
                    color: variables.$color-white;
                    display: block;
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    padding: 2.2rem 4rem;
                }
                a::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 5px;
                    background: variables.$color-label-blue;
                    transform: scale(0, 1);
                    transform-origin: right top;
                    transition: transform .3s;
                }
                a:hover::after {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }
            li:last-child {
                border-right: 1px solid variables.$color-white;
            }
        }
    }
}
